{% extends 'base.html.twig' %}

{% block title %}Teacher Infomation{% endblock %}

{% block body %}
<div class="container mt-3">
{% for flash in app.flashes("Success") %}
<p class="alert alert-primary">{{flash}}</p>
{% endfor %}
 {% for flash in app.flashes("Error") %}
        <p class="alert alert-primary"> {{ flash }} </p>
 {% endfor %}

</div>

<div class="container-fluid">
 <a class="btn btn-primary" href="{{path('teacher_create')}}">Create teacher</a>
 <table class="table">
 	<thead>
 		<tr>
 			<th scope="col">teacher ID</th>
 			<th scope="col">teacher Name</th>
 			<th scope="col">Actions</th>
 		</tr>
 	</thead>
 	<tbody>
     {% for teacher in teachers %}
         
 		<tr>
 			<td scope="row">{{teacher.id}}</td>
 			<td scope="row">{{teacher.nameteacher}}</td>
 			<td scope="row">
             <a class="btn btn-info" href="{{path('teacher_detail',{'id': teacher.id})}}">Detail</a>
            <a class="btn btn-info" href="{{path('teacher_update',{'id': teacher.id})}}">Update</a>
             <a class="btn btn-info" href="{{path('teacher_delete',{'id': teacher.id})}}">Delete</a>
             </td>
             
 		</tr>
     {% endfor %}
 	</tbody>
 </table>
</div>
{% endblock %}

