{% extends "base.html.twig" %}
{% block title %} Update teacher{% endblock %}
{% block body %}
 <div class="container-fluid mt-3">
 <h2 class="text-center mt-2">Update teacher</h2>
    <div class="col-md-6"></div>
 {{ form_start (form) }}

        <div class="form-group">
          {{ form_label (form.name_teacher) }}
          {{ form_widget (form.name_teacher, {'attr': {'class':'form-control'}}) }}
        </div>
        
        <div class="form-group">
          {{ form_label (form.Classroom) }}
          {{ form_widget (form.Classroom, {'attr': {'class':'form-control'}}) }}
        </div>

        <div class="form-group">
        <button class="btn btn-primary text-center">Update</button>
        </div>

 {{ form_end (form) }}
     
 </div>
{% endblock %}